@font-face {
    font-family: 'FiraCode';
    src: url('../Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    background-color: rgb(225, 229, 242);
  }

  #laPage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  #nomUtilisateur {
    margin: 5px;
  }

  #emailUtilisateur {
    margin: 5px;
  }

  #boutonSupprimer {
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 10px;
  }

  #boutonAjouter {
    justify-content: center;
    width: 150px;
    border-color: black;
    border-width: 2px;
    background-color: gold;
    border-radius: 10px;
    margin-left: 50px;
  }

  #unUtilisateur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgb(0, 166, 251);
  }
