

.bggg{
    background-color: #8b8888;
    border-radius: 2.5%;
    height: 700px;;
    width: 1400px;
    text-align: left;
    
}
.bgg{
    background-color: #c40b0b;
    border-radius: 2.5%;
    
    text-align: left;
    
}
.bg{
    background-color: #c40b0b;
    border-radius: 2.5%;
    padding-top: 10%;
    
    text-align: left;
    
}
.div {
    background-color: blue;
  }
  
  .hr{
    height:20px;border-width:0;color:gray;background-color:gray"
  } 
  .p{
      color : rgb(224, 0, 0);
      border-radius: 10%;
  }


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: inline-block;
    width:100px;
    height:100px;
    size: 100px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }

  .cta-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
  }
 
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  
  label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .color-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .color-option {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    
  }
  

  .color-option:hover {
    border: 1px solid #333;
  }

  .size-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .size-option {
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .size-option:hover {
    border: 1px solid #333;
  }

  button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #555;
  }
  
  .red {
    background-color: #ff0000;
  }
  
  .blue {
    background-color: #0000ff;
  }
  
  .green {
    background-color: #00ff00;
  }
  
  
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    width: 400%;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider-container img {
    width: 25%;
    height: auto;
  }
  
  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  .prevBtn {
    left: 0;
  }
  
  .nextBtn {
    right: 0;
  }
  