@font-face {
    font-family: 'FiraCode';
    src: url('../Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'FiraCode', sans-serif;
  }
  

  
  

.bggg{
    background-color: #e1e5f2;
    border-radius: 15px;
    width: 400px;
    height: auto;
    text-align: left;
    
    
}
.dark-mode .bggg {
  background-color: #0B6623;
  border-radius: 10px;    
  text-align: center;
  color: #7FFF00;
}

.bggg2{
  background-color: #e1e5f2;
  border-radius: 15px;
  height: 400px;;
  width: 1400px;
  text-align: left;
  
}
.dark-mode .bggg2 {
  background-color: #0B6623;
  border-radius: 10px;    
  text-align: center;
  color: #7FFF00;
}

.bgg{
    background-color: #00a6fb;
    border-radius: 10px;    
    text-align: center;
    padding-top: 10px;
    width: 250px;
    height: 200px;
    
    
}
.dark-mode .bgg {
  background-color: #000000;
  border-radius: 10px;    
    text-align: center;
    color: #7FFF00;
}


.div {
    background-color: blue;
  }
  
  .hr{
    height:20px;border-width:0;color:gray;background-color:gray"
  } 
  .p{
      color : rgb(224, 0, 0);
      border-radius: 10%;
  }


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: inline-block;
    width:100px;
    height:100px;
    size: 100px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }

  .cta-btn {
    background-color: #0000ff;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }
  .dark-mode .cta-btn {
    background-color: #0B6623;
    color: #7FFF00;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .cta-btn:active,
  .cta-btn:hover {
    background-color: #d90429;
    color: white;
  }
 
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  
  label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .color-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .color-option {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    
  }
  

  .color-option:hover {
    border: 1px solid #333;
  }

  .size-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .size-option {
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .size-option:hover {
    border: 1px solid #0000ff;
  }

  button[type="submit"] {
    padding: 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
  }

  button[type="submit"]:hover {
    background-color: #d90429;
  }
  
  .red {
    background-color: #ff0000;
  }
  
  .blue {
    background-color: #0000ff;
  }
  
  .green {
    background-color: #00ff00;
  }
  
  
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    width: 400%;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider-container img {
    width: 25%;
    height: auto;
  }
  
  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  .prevBtn {
    left: 0;
    color: #0000ff;
    
    
    
  }
  
  .nextBtn {
    right: 0;
    color: #0000ff;
    
  }

  body.dark-mode {
    background-color: #111;
    color: rgb(0, 0, 0);
  }
  
  .dark-mode .btd {
    background-color: #0B6623;
    color: #7FFF00;
   
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }
  .btd {
    background-color: #0000ff;
    color: white;
    
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }
  
  /* styles pour le contenu de la page */
  .content {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .dark-mode .tit{
    color: #7FFF00;
  }
  
.Desc{
  text-align: center;
  align-items: center;
}
.color-sample {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  
}
.color-sample1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  
}

/* couleurs d'échantillon */
.color-sample.red {
  background-color: red;
}
.color-sample.blue {
  background-color: blue;
}
.color-sample.green {
  background-color: green;
}
.color-sample.yellow {
  background-color: yellow;
}
.color-sample.purple {
  background-color: purple;
}
.size-sample {
  display: inline-block;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  text-decoration: underline #ff0000;
}

/* tailles d'échantillon */

  
div {
  margin: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  height: 80px;
  padding: 0 20px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-options {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-options li {
  margin-left: 20px;
}

.navbar-options li:first-child {
  margin-left: 0;
}

.navbar-options a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.color-sample-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

/* Ajouter la couleur de fond à la classe .color-sample-btn */
.color-sample-btn:hover {
  background-color: rgb(226, 25, 25);
}
.color-sample-btn.active {
  box-shadow: 0 0 5px 2px
}

.taille-sample-btn {
  display: inline-block;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  position: relative;
}

.taille-sample-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.taille-sample-btn:hover:after {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.taille-sample-btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px 2px
}


