@font-face {
    font-family: 'FiraCode';
    src: url('../Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'FiraCode', sans-serif;
}

.navbar {
    position: fixed;
    top: 200px;
    left: 0;
    height: 450px;
    min-width: 100px; 
    background-color: #38B6FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(250, 0, 0, 0.3); 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    height: 60px;
    width: 100%;
    transition: background-color 0.3s;
}


endsection
.navbar a i {
    font-size: 24px;
    margin-bottom: 5px;
}
.tit{
    background-color: #38B6FF;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 10px;
    
}
.Collection2{
    background-color: #F5F7FA;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 10px;
    text-shadow: 0 0 10px #fff, 0 0 100px #fff, 0 0 100px #fff, 0 0 10px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255)0 0 100px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255);
    color: #fff;
}
.Reservation{
    background-color: #F5F7FA;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    min-width: 450px;
    width:auto;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 10px;
}
.livree{
    background-color: #7AE582;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    width:auto;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 10px;
}

.Recherche{
    background-color: #38B6FF;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    padding-left: 50px;    
}
.pRecherche{
    background-color: #fafafa;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 50px; 
}
.containerTit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .option{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
  .optiontitre{
    text-transform: uppercase;
  }
  .suspendre{
    color: red;
    text-decoration: none;
  }
  .suspendre:hover{
    color: red;
  }

  .color-sample {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    align-items: center;
  }

  .color-sample.red {
    background-color: red;
  }
  .color-sample.blue {
    background-color: blue;
  }
  .color-sample.green {
    background-color: green;
  }
  .color-sample.yellow {
    background-color: yellow;
  }
  .color-sample.purple {
    background-color: purple;
  }
  .size{
    text-transform: uppercase;
  }
  .date{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    white-space: nowrap;
  }
  .inf{
    align-items: center;
    vertical-align: middle;
  }
  .logo {
    display: inline-block;
    width:100px;
    height:100px;
    size: 100px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .Form{
    background-color: #F5F7FA;
    border-radius: 20px;
    text-align: left;
    border-left: 5px;
    width: 300px;
    height: auto;
    
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 10px;
}
  .date{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-transform: uppercase;
  }
  textarea {
    height: 150px;
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}
input{
  padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-transform: uppercase;
}
.ajtItem{
  text-align: center;
}
.bggg{
  background-color: #00a6fb;
  border-radius: 10px;    
  
  padding-top: 10px;
  padding-left: 90px;
 
}
h5{
  color: black;
  text-transform: uppercase;
}
.bgcolor{
  color: #38B6FF;
  background-color: #38B6FF;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.color-picker-container label {
  margin-bottom: 5px;
  font-weight: bold;
}
.modif{
  height: auto;
}
.AjouterItem{
  
  color: black;
 
  
}
.Ajt{
  border: 0ch;
  border-color: none;
  background-color:white;
  width: 200px;
  height: 150px;
  border-radius: 5px;

}
.stat{
  border-style: none;
  background-color: #F5F7FA;
}
.capitalise{
  text-transform: uppercase;
}




